.scroll-to-top {
    display: none;

    width: 45px;
    margin-left: 15px;
    background-color: var(--clr-light);
    border-radius: 50%;
    outline: none !important;
    opacity: .4;
}

#top-anchor {
    position: absolute;
}

.scroll-to-top:hover {
    filter: invert(100%);
}

.scroll-to-top::after {
    content: '';
    display: block;
    background-image: url('../img/angle-up-solid.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.5em;
    height: 100%;
}

.to-top-visible {
    display: block;
}
